* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  /*display: inline-block;*/
}
  .wrapper .card {
    display: inline-block;
    /*position: relative;*/
    width: 200px; 
    background-color: rgb(199, 195, 195); 
    
  }
  .wrapper .card .frame{
    /*position: absolute;
    width: 200px; 
    height: 226px; 
    left: 0px; 
    top: 0px;  
    background: #E0E0E0;
  }
  .title{
    position: absolute;
    width: 200px; 
    left: 0px; 
    top: 140px;  
    text-align: center; 
    color: black; 
    font-size: 18px; 
    font-family: Roboto; 
    font-weight: 700; 
    line-height: 22px; 
    word-wrap: break-word
  }
  .description {
    position: absolute;
    width: 200px; 
    left: 0px; 
    top: 172px;  
    text-align: center; 
    color: rgb(202, 15, 15); 
    font-size: 14px; 
    font-family: Roboto; 
    font-weight: 400; 
    line-height: 18px; 
    word-wrap: break-word;
  }
  .image {
    
    width: 130px; 
    height: 130px; 
    left: 35px; 
    top: 0px;  
    background: #C4C4C4;
  }
  .imagename {
    position: absolute;
    left: 81px; 
    top: 56px;  
    text-align: center; 
    color: white; 
    font-size: 14px; 
    font-family: Roboto; 
    font-weight: 400; 
    line-height: 18px; 
    word-wrap: break-word;
  }
    
  margin-right: 102px;
  margin-left: 102px;
  margin-top: 64px;
  margin-block-end: 102px;*/

  
  
