* {
  font-family: 'Roboto', sans-serif;
  font-style:normal;
  color: #000; 
  word-wrap: break-word;
}
.wrapper {
  box-sizing: border-box;
  border: 1px solid gray;
  width: 722px;
  height: 546px;
  font-size: 0px;
  padding-top: 30px;
  padding-right: 30px;
  margin: 0px auto;
}
.wrapper .card {
  display: inline-block;
  width: 200px; 
  height: 226px;
  background-color: rgb(237, 240, 238); 
  text-align: center;
  margin-left: 30px;
  margin-bottom: 30px;
}
.wrapper .card img {
  width: 130px; 
  height: 130px;  
  background: #E0E0E0;
  margin-top: 0px;
}
.wrapper .card h3 {
  width: 200px;
  height: 22px;
  font-size: 18px;
  font-weight: 700; 
  line-height: 22px;
  margin-top: 10px;
}
.wrapper .card p {
  width: 200px;
  height: 36px;
  font-size: 14px; 
  font-weight: 400; 
  line-height: 18px; 
  margin-bottom: 18px;
  margin-top: 10px;
}
